.form-group.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.card-footer.statistics {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
}

#avatarModal .img-thumbnail {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, .2);
}

#avatarModal .row {
    --bs-gutter-y: 1rem;
}

.form-group.buttons a:not(:last-child), .form-group.buttons button:not(:last-child) {
    margin-bottom: 0.5rem;
}
#header-subscribes{
    padding: 15px 10px;
}
.card.border-secondary.mb-3{
    margin-bottom: 0.75rem!important;
}
#my-groups{
    border-radius: 6px 6px 0 0;
}
#user-avatar{
    margin-bottom: 20px;
}
#user-login{
    font-size: 14px;
    font-weight: 400;
}

#collections-list.card-body {
    flex: 1 1 auto;
    color: var(--bs-card-color);
    line-height: 2.1;
    text-align: center;
    padding: 1rem;
}
#createCollectionButton, #deleteCollectionButton{

    width: 150px;
    margin: 0 10px 10px;
}
#addPostcard .modal-dialog{
    max-width: 900px;
}

.file-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    border-radius: 6px;
    border: 2px dashed rgba(255,255,255,.7);
    background: rgba(0,0,0,.08);
}
.file-upload-container .icon-upload {
    transform: scale(1.4285714286);
}
.file-upload-container.not-active {
    display: none;
}
.file-upload-container.active {
    display: flex;
}

.file-upload-text {
    text-align: center;
    margin: 16px 0;
    font-weight: bold;
}

#postcard-upload-form .upload-container .file-upload-text a {
    text-decoration: underline;
    cursor: pointer;
}

.file-upload-subtext {
    font-size: 12px;
    color: rgba(255,255,255,.7);
    margin-top: 16px;
    text-align: center;
}

.block-download-links__size.file-info-sub {
    font-size: 10px;
    line-height: 12px;
    color: #628698;
    font-weight: 600;
}

.label-file-upload-row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    max-width: 100%;
    box-sizing: border-box;
}

.upload-percentage {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #ffffff;
    z-index: 1;
    font-weight: bold;
}

.label-file-upload-container {
    position: relative;
    display: none;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    height: 60px;
    left: 0px;
    top: 0px;
    background: rgba(0,0,0,.6);
    border-radius: 5px;
    margin-top: 40px;
    width: calc(100% - 40px)
}
.label-file-upload-container .block-download-link__column {
    max-width: 480px;
    display: flex;
    flex-wrap: wrap;
}
.label-file-upload-container .block-download-links__size.file-info-sub {
    padding-left: 0px;
}
.label-file-upload-container .block-download-links__title.file-info {
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 14px;
    width: 100%;
}
.label-file-upload-container .title-status {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    display: none;
    position: absolute;
    top: -60px;
    left: 0;
    margin: 18px 0;
    width: 100%;
    text-align: center;
}
.label-file-upload-container h4 {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    display: flex;
    position: absolute;
    top: -60px;
    left: 0;
}
.label-file-upload-container h4 .icon-upload {
    margin-right: 12px;
}
.label-file-upload-container .error-file {
    font-size: 10px;
    line-height: 18px;
    color: #F94242;
    display: none;
    position: absolute;
    bottom: -21px;
    left: 0;
}
.label-file-upload-container.error {
    background: #fed9d9;
    border-radius: 5px;
}
.label-file-upload-container.active {
    display: flex;
    margin-top: 0;
}
.label-file-upload-container.uploading {
    margin-top: 40px !important;
}
.label-file-upload-container .upload-progress-bar {
    position: absolute;
    height: 3px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    margin-top: 0;
    margin-left: 0;
    display: none;
    left: 0;
    border: 0;
    width: 100%;
    bottom: 0;
}
.label-file-upload-container .upload-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #28b984;
    border-radius: 3px;
    z-index: 0;
}
.label-file-upload-container .upload-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.label-file-upload-container .file-info {
    display: none;
}

.upload-container {
    display: flex;
    align-items: center;
}

.upload-label {
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}
#del_file_upload{
    right: 15px;
    position: absolute;
    top: 20px;
}
.file-upload-container-process {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    border-radius: 6px;
    border: 2px dashed rgba(255,255,255,.7);
    background: rgba(0,0,0,.08);
}